@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');


* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'montserrat', sans-serif;
    color: black;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(218, 218, 218);
    padding: 60px 0;
}

.navbar li:hover {
    background-color: rgb(80, 78, 78);
    transition: 0.3s;
    border-radius: 5px;
}

.menu {
    position: absolute;
    top : 0;
    left : 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color : black;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    color : black;
    font-size: 18px;
    padding: 20px;
    display: block;
}

#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top : 100%;
    z-index: 1;
    background-color: black;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th , td {
    color: aliceblue;
}

.borrar {
    background-color: black;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-txt {
    font-size: 30px;
    flex-basis: 50%;
    text-align: center;
}

.header-txt h1 {
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: black;
    font-family: "Oswald", sans-serif;
    margin-bottom: 15px;
}

.header-txt p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}

.btn-2 {
    display: inline-block;
    padding: 11px 25px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}

.btn-1:hover {
    background-color: rgb(80, 78, 78);
    transition: 0.3s;
    text-decoration: none;
}

.ofert-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    gap: 20px;
}

.ofert-1 {
    width: 33%;
    border: 1px solid rgb(218, 218, 218);
    background-color: rgb(218, 218, 218);
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.ofert-1 img {
    width: 40%;
    height: 120px;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.product {
    border: 2px solid rgb(218, 218, 218);
    box-shadow: rgb(218, 218, 218);
    padding: 15px;
    text-align: center;
}

.product img {
    width: 80%;
    height: 360px;
}

.product-txt p {
    margin: 5px 0;
}

.precio {
    font-weight: bold;
}


.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 60px 0;
    padding-left: 210px;
}
 


.icon-1 {
    border: 2px solid rgb(218, 218, 218);
    background-color: rgb(218, 218, 218);
    display: flex;
    align-items: center;
    gap: 15px;

}

.icon-img img {
    width: 40px;
}

.blog {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 60px;
}

.blog-1 {
    width: 33%;
    padding: 10px;
}

.blog-1 img {
    width: 100%;
    height: 300px;
}

.blog-1 h3 {
    text-align: center;
}

.footer {
    background: rgb(218, 218, 218);
    color: #000000;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer .link ul {
    list-style: none;
}

.footer .link li {
    margin-bottom: 10px;
}

@media (max-width: 900px) {

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .ofert-container,
    .blog,
    .icons {
        flex-direction: column;
        gap: 25px;
    }

    .product-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-content {
        grid-template-columns: 1fr;
    }

    .menu {
        flex-direction: column;
        gap: 15px;
    }

    .navbar ul {
        gap: 10px;
    }
}

