* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    min-height: 88vh;
    background-color: white;
    padding: 70px 0;
}

.menu {
    position: absolute;
    top : 0;
    left : 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color : black;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    color : black;
    font-size: 18px;
    padding: 20px;
    display: block;
}

#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top : 100%;
    z-index: 1;
    background-color: rgb(250, 172, 198);
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th , td {
    color: aliceblue;
}

.borrar {
    background-color: black;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-txt {
    flex-basis: 50%;
    text-align: center;
}